body {
    background: #fff;
    color: #666;
    font-family: open sans, sans-serif
}

a {
    color: #1c19dd;
    transition: .5s
}

a:hover,
a:focus {
    color: #266ae9;
    outline: none;
    text-decoration: none
}

a:active,
a:visited {
    color: blue;
}

p {
    padding: 0;
    margin: 0 0 30px
}

h1,
h2,
h3,
h5 {
    font-family: montserrat, sans-serif;
    font-weight: 400;
    margin: 0 0 20px;
    padding: 0
}

h4 {
    font-family: montserrat, sans-serif;
    font-weight: 400;
    margin: 0 0 20px;
    padding: 0
}

h6 {
    font-family: montserrat, sans-serif;
    font-weight: 400;
    margin: 0 0 20px;
    padding: 0
}

.back-to-top {
    position: fixed;
    display: none;
    background: #105be6;
    color: #fff;
    display: inline-block;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 1;
    font-size: 16px;
    border-radius: 50%;
    right: 15px;
    bottom: 15px;
    transition: background .5s;
    z-index: 11
}

.back-to-top i {
    padding-top: 12px;
    color: #fff
}

@media(max-width:768px) {
    .back-to-top {
        bottom: 15px
    }
}

.home-bg-frame {
    width: 100%;
    height: 100vh;
    overflow: hidden
}

.zoom-home-bg {
    animation: scale 40s linear infinite
}

@keyframes scale {
    50% {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2)
    }
}

#header {
    padding: 30px 0;
    height: 92px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    transition: all .5s;
    z-index: 997
}

.page_header {
    background: #000
}

#header.header-scrolled {
    background: rgba(0, 0, 0, .9);
    padding: 20px 0;
    height: 72px;
    transition: all .5s
}

#header #logo {
    float: left
}

@media(min-width:1024px) {
    #header #logo {
        padding-left: 60px;
        margin-top: -17px
    }
}

#header #logo h1 {
    font-size: 34px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-family: montserrat, sans-serif;
    font-weight: 700;
    letter-spacing: 3px
}

#header #logo h1 a,
#header #logo h1 a:hover {
    color: #fff;
    padding-left: 10px;
    border-left: 4px solid #18d26e
}

#header #logo img {
    padding: 0;
    margin: 0;
    height: 70px
}

@media(max-width:768px) {
    #header #logo h1 {
        font-size: 28px
    }
    #header #logo img {
        max-height: 40px
    }
}

.skill_block {
    margin-bottom: 20px
}

.skill_block p {
    font-size: 12.5px;
    margin-bottom: 10px;
    text-align: justify
}

.skill_block img {
    height: 120px;
    width: 120px;
    margin-bottom: 6px;
    border-radius: 5px;
    border: 4px solid #ccc
}

.skill_block h5 {
    margin-bottom: 5px
}

.exp_block {
    margin-bottom: 20px
}

.exp_block h5 {
    margin-bottom: 2px
}

.exp_block p {
    font-size: 12.5px;
    margin-bottom: 10px;
    text-align: justify
}

.close {
    color: #1929ff
}

.close:hover {
    color: #1f3ad3;
    opacity: 1
}

.btn_modal {
    background: #2d57ca;
    border: none;
    font-size: 14px
}

.btn_modal .active {
    background: #1f31d3
}

.btn_modal:hover {
    background: #1f31d3
}

.btn_modal:focus {
    box-shadow: none
}

.skill_cer_btn {
    margin-bottom: 7px;
    margin-right: 2px;
    font-size: 12px;
    background: #2d3dca;
    border: none;
    padding: 5px 10px
}

.skill_cer_btn:hover {
    background: #311fd3;
    border: none
}

.skill_cer_btn .active {
    background: #1f3ad3
}

.skill_cer_btn:focus {
    box-shadow: none
}

.box img {
    height: 45px
}

.about-cols .icon img {
    height: 40px
}

.slider-cols {
    position: absolute;
    bottom: -80px
}

.slider-cols .item {
    padding: 16px 0!important
}

.slider-cols .projectFactsWrap .item:nth-child(1) {
    background: 0 0;
    border-radius: 0;
    width: 200px;
    height: 98px;
    background-image: url(../img/head-box.png);
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom: 40px
}

.slider-cols .projectFactsWrap .item:nth-child(2) {
    background: 0 0;
    border-radius: 0;
    width: 200px;
    height: 98px;
    background-image: url(../img/head-box.png);
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom: 40px
}

.slider-cols .projectFactsWrap .item:nth-child(3) {
    background: 0 0;
    border-radius: 0;
    width: 200px;
    height: 98px;
    background-image: url(../img/head-box.png);
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom: 40px
}

.slider-cols .projectFactsWrap .item:nth-child(4) {
    background: 0 0;
    border-radius: 0;
    width: 200px;
    height: 98px;
    background-image: url(../img/head-box.png);
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom: 40px
}

.slider-cols .projectFactsWrap .item:nth-child(5) {
    background: 0 0;
    border-radius: 0;
    width: 200px;
    height: 98px;
    background-image: url(../img/head-box.png);
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom: 40px
}

.slider-cols .projectFactsWrap .item:nth-child(6) {
    background: 0 0;
    border-radius: 0;
    width: 200px;
    height: 98px;
    background-image: url(../img/head-box.png);
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom: 40px
}

.slider-cols .item {
    position: relative
}

.slider-cols #number1 {
    font-size: 35px;
    margin-bottom: 0!important;
    line-height: 1;
    color: #3d49ec;
    margin-top: 15px
}

.slider-cols #number2 {
    font-size: 35px;
    margin-bottom: 0!important;
    line-height: 1;
    color: #3123ee;
    margin-top: 15px
}

.slider-cols #number3 {
    font-size: 35px;
    margin-bottom: 0!important;
    line-height: 1;
    color: #2341ee;
    margin-top: 15px
}

.slider-cols #number4 {
    font-size: 35px;
    margin-bottom: 0!important;
    line-height: 1;
    color: #2352ee;
    margin-top: 15px
}

.slider-cols #number5 {
    font-size: 35px;
    margin-bottom: 0!important;
    line-height: 1;
    color: #2331ee;
    margin-top: 15px
}

.slider-cols .count-name1 {
    padding-bottom: 0!important;
    font-size: 13.5px!important;
    position: absolute;
    width: 100%!important;
    line-height: .6;
    margin-top: 14px!important;
    color: #2341ee!important
}

.slider-cols .count-name2 {
    padding-bottom: 0!important;
    font-size: 13.5px!important;
    position: absolute;
    width: 100%!important;
    line-height: .6;
    margin-top: 14px!important;
    color: #2337ee!important
}

.slider-cols .count-name3 {
    padding-bottom: 0!important;
    font-size: 13.5px!important;
    position: absolute;
    width: 100%!important;
    line-height: .6;
    margin-top: 14px!important;
    color: #2348ee!important
}

.slider-cols .count-name4 {
    padding-bottom: 0!important;
    font-size: 13.5px!important;
    position: absolute;
    width: 100%!important;
    line-height: .6;
    margin-top: 14px!important;
    color: #3123ee!important
}

.slider-cols .count-name5 {
    padding-bottom: 0!important;
    font-size: 13.5px!important;
    position: absolute;
    width: 100%!important;
    line-height: .6;
    margin-top: 14px!important;
    color: #2326ee!important
}

.sectionClass {
    padding: 0 0 50px;
    position: relative;
    display: block
}

.fullWidth {
    width: 100%!important;
    display: table;
    float: none;
    padding: 0;
    min-height: 1px;
    height: 100%;
    position: relative
}

.sectiontitle {
    background-position: center;
    margin: 30px 0 0;
    text-align: center;
    min-height: 20px
}

.sectiontitle h2 {
    font-size: 30px;
    color: #222;
    margin-bottom: 0;
    padding-right: 10px;
    padding-left: 10px
}

.headerLine {
    width: 160px;
    height: 2px;
    display: inline-block;
    background: #101f2e
}

.projectFactsWrap {
    display: flex;
    margin-top: 30px;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 35px
}

#projectFacts .fullWidth {
    padding: 0
}

.projectFactsWrap .item {
    width: 25%;
    height: 100%;
    padding: 25px 0;
    text-align: center;
    margin-left: 0;
    margin-left: 0
}

#crowdspark a h4 {
    color: #111
}

#crowdspark .projectFactsWrap .item {
    width: 20%;
    min-height: 210px;
    padding: 25px 0;
    text-align: center
}

.projectFactsWrap .item:nth-child(1) {
    background: #0424d4;
    height: 200px;
    width: 200px;
    border-radius: 50%
}

.projectFactsWrap .item:nth-child(2) {
    background: #1c2ed6;
    height: 200px;
    width: 200px;
    border-radius: 50%
}

.projectFactsWrap .item:nth-child(3) {
    background: #293efa;
    height: 200px;
    width: 200px;
    border-radius: 50%
}

.projectFactsWrap .item:nth-child(4) {
    background: #2643e9;
    height: 200px;
    width: 200px;
    border-radius: 50%
}

.projectFactsWrap .item:nth-child(5) {
    background: #406cfd;
    height: 200px;
    width: 200px;
    border-radius: 50%
}

.projectFactsWrap .item:nth-child(6) {
    background: #101f2e;
    height: 200px;
    width: 200px;
    border-radius: 50%
}

.crowd_page .projectFactsWrap .item {
    margin-left: 0
}

.crowd_page .projectFactsWrap .item {
    width: 20%!important;
    min-height: 210px;
    padding: 25px 0;
    text-align: center
}

.crowd_page .projectFactsWrap .item:nth-child(1) {
    background: #1043ec;
    border-radius: 0
}

.crowd_page .projectFactsWrap .item:nth-child(2) {
    background: #4617f0;
    border-radius: 0
}

.crowd_page .projectFactsWrap .item:nth-child(3) {
    background: #080cff;
    border-radius: 0
}

.crowd_page .projectFactsWrap .item:nth-child(4) {
    background: #265ae9;
    border-radius: 0
}

.crowd_page .projectFactsWrap .item:nth-child(5) {
    background: #265ae9;
    border-radius: 0
}

.crowd_page .projectFactsWrap .item:nth-child(6) {
    background: #101f2e;
    border-radius: 0
}

.projectFactsWrap .item p.number {
    font-size: 40px;
    padding: 0;
    font-weight: 700
}

.projectFactsWrap .item p {
    color: rgba(255, 255, 255, .8);
    font-size: 18px;
    margin: 0;
    padding: 6px;
    font-family: open sans
}

.projectFactsWrap .item span {
    width: 60px;
    background: rgba(255, 255, 255, .8);
    height: 2px;
    display: block;
    margin: 0 auto
}

.projectFactsWrap .item i {
    vertical-align: middle;
    font-size: 45px;
    color: rgba(255, 255, 255, .8)
}

.projectFactsWrap .item:hover i,
.projectFactsWrap .item:hover p {
    color: #fff
}

.projectFactsWrap .item:hover span {
    background: #fff
}

@media(max-width:786px) {
    .projectFactsWrap .item {
        flex: 0 0 50%
    }
}

@media(max-width:480px) {
    .projectFactsWrap .item {
        width: 50%
    }
}

@media(max-width:300px) {
    .projectFactsWrap .item {
        width: 50%
    }
}

.skill_block li {
    font-size: 12px
}

.eng_management img {
    height: 100%;
    width: 100%;
    padding-bottom: 55px;
    border: 0
}

.methology-bg img {
    height: auto!important;
    width: 100%!important;
    padding-bottom: 0!important;
    margin-left: 0!important
}

.screenshot_modal {
    top: 16%;
    right: 16%
}

.screenshot_content {
    background: 0 0;
    border: 0;
    border-radius: 0!important;
    width: 140%
}

.screenshot_content .modal-header {
    border-bottom: 0 solid #e9ecef
}

.screenshot_content .close {
    position: absolute;
    top: 19px;
    right: -27px;
    font-size: 40px;
    opacity: 1
}

.screenshot_block {
    padding: 0!important
}

.screenshot_block img {
    width: 100%;
    height: 100%
}

.dropdown-toggle::after {
    content: none!important;
    border-top: 0 solid!important
}

.nav-menu .sub-menu-active>a {
    color: #4224e9
}

#intro {
    display: table;
    width: 100%;
    height: 100vh;
    background: #000
}

#intro .carousel-item {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat
}

#intro .carousel-item::before {
    content: '';
    background-color: rgba(0, 0, 0, .7);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0
}

#intro .carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0
}

.join_process img {
    background: center top no-repeat fixed
}

#intro .carousel-content {
    text-align: center
}

#intro h2 {
    color: #d9d9d9;
    margin-bottom: 30px;
    font-size: 32px;
    font-weight: 700
}

@media(max-width:768px) {
    #intro h2 {
        font-size: 28px
    }
}

#intro p {
    width: 80%;
    margin: 0 auto 30px;
    color: #c1c1c1;
    font-size: 15px
}

@media(min-width:1024px) {
    #intro p {
        width: 100%
    }
}

#intro .carousel-fade .carousel-inner .carousel-item {
    -webkit-transition-property: opacity;
    transition-property: opacity
}

#intro .carousel-fade .carousel-inner .carousel-item,
#intro .carousel-fade .carousel-inner .active.carousel-item-left,
#intro .carousel-fade .carousel-inner .active.carousel-item-right {
    opacity: 0
}

#intro .carousel-fade .carousel-inner .active,
#intro .carousel-fade .carousel-inner .carousel-item-next.carousel-item-left,
#intro .carousel-fade .carousel-inner .carousel-item-prev.carousel-item-right {
    opacity: 1;
    transition: .5s
}

#intro .carousel-fade .carousel-inner .carousel-item-next,
#intro .carousel-fade .carousel-inner .carousel-item-prev,
#intro .carousel-fade .carousel-inner .active.carousel-item-left,
#intro .carousel-fade .carousel-inner .active.carousel-item-right {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

#intro .carousel-control-prev,
#intro .carousel-control-next {
    width: 10%
}

@media(min-width:1024px) {
    #intro .carousel-control-prev,
    #intro .carousel-control-next {
        width: 5%
    }
}

#intro .carousel-control-next-icon,
#intro .carousel-control-prev-icon {
    background: 0 0;
    font-size: 32px;
    line-height: 1
}

#intro .carousel-indicators li {
    cursor: pointer
}

#intro .btn-get-started {
    font-family: montserrat, sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 32px;
    border-radius: 50px;
    transition: .5s;
    margin: 10px 0 150px;
    color: #fff;
    background: #3d2dca
}

#intro .btn-get-started:hover {
    background: #fff;
    color: #302dca
}

.nav-menu,
.nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none
}

.nav-menu ul {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    z-index: 99
}

.nav-menu li {
    position: relative;
    white-space: nowrap
}

.nav-menu>li {
    float: left
}

.nav-menu li:hover>ul,
.nav-menu li.sfHover>ul {
    display: block
}

.nav-menu ul ul {
    top: 0;
    left: 100%
}

.nav-menu ul li {
    min-width: 180px
}

.sf-arrows .sf-with-ul {
    padding-right: 30px
}

.sf-arrows .sf-with-ul:after {
    content: "\f107";
    position: absolute;
    right: 15px;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 400
}

.sf-arrows ul .sf-with-ul:after {
    content: "\f105"
}

#nav-menu-container {
    float: right;
    margin: 0
}

@media(min-width:1024px) {
    #nav-menu-container {
        padding-right: 60px
    }
}

@media(max-width:768px) {
    #nav-menu-container {
        display: none
    }
}

.nav-menu a {
    padding: 0 8px 10px;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    outline: none
}

.nav-menu li:hover>a,
.nav-menu>.menu-active>a {
    color: #2d30ca
}

.nav-menu>li {
    margin-left: 10px
}

.nav-menu ul {
    margin: 4px 0 0;
    padding: 10px;
    box-shadow: 0 0 30px rgba(127, 137, 161, .25);
    background: #fff
}

.nav-menu ul li {
    transition: .3s
}

.nav-menu ul li a {
    padding: 10px;
    color: #333;
    transition: .3s;
    display: block;
    font-size: 13px;
    text-transform: none
}

.nav-menu ul ul {
    margin: 0
}

.float {
    position: fixed;
    width: 30px;
    height: 30px;
    top: 110px;
    right: 0;
    background-color: #302dca;
    color: #fff;
    text-align: center;
    z-index: 999999
}

.float:hover {
    color: #ffdb42
}

.float_2 {
    position: fixed;
    width: 30px;
    height: 30px;
    top: 143px;
    right: 0;
    background-color: #3d2dca;
    color: #fff;
    text-align: center;
    z-index: 999999
}

.float_2:hover {
    color: #2417e4
}

.float_3 {
    position: fixed;
    width: 30px;
    height: 30px;
    top: 176px;
    right: 0;
    background-color: #452dca;
    color: #fff;
    text-align: center;
    z-index: 999999
}

.float_3:hover {
    color: #3327d6
}

.my-float {
    margin-top: 8px
}

.footer_img {
    width: auto;
    height: 50px!important;
    margin-top: 20px;
    margin-left: 1px!important
}

#mobile-nav-toggle {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
    margin: 20px 20px 0 0;
    border: 0;
    background: 0 0;
    font-size: 24px;
    display: none;
    transition: all .4s;
    outline: none;
    cursor: pointer
}

#mobile-nav-toggle i {
    color: #fff
}

@media(max-width:768px) {
    #mobile-nav-toggle {
        display: inline
    }
}

#mobile-nav {
    position: fixed;
    top: 0;
    padding-top: 18px;
    bottom: 0;
    z-index: 998;
    background: rgba(0, 0, 0, .8);
    left: -260px;
    width: 260px;
    overflow-y: auto;
    transition: .4s
}

#mobile-nav ul {
    padding: 0;
    margin: 0;
    list-style: none
}

#mobile-nav ul li {
    position: relative
}

#mobile-nav ul li a {
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    overflow: hidden;
    padding: 10px 22px 10px 15px;
    position: relative;
    text-decoration: none;
    width: 100%;
    display: block;
    outline: none;
    font-weight: 700;
    font-family: montserrat, sans-serif
}

#mobile-nav ul li a:hover {
    color: #fff
}

#mobile-nav ul li li {
    padding-left: 30px
}

#mobile-nav ul .menu-has-children i {
    position: absolute;
    right: 0;
    z-index: 99;
    padding: 15px;
    cursor: pointer;
    color: #fff
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
    color: #183ad2
}

#mobile-nav ul .menu-has-children li a {
    text-transform: none
}

#mobile-nav ul .menu-item-active {
    color: #1834d2
}

#mobile-body-overly {
    width: 100%;
    height: 100%;
    z-index: 997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(0, 0, 0, .7);
    display: none
}

body.mobile-nav-active {
    overflow: hidden
}

body.mobile-nav-active #mobile-nav {
    left: 0
}

body.mobile-nav-active #mobile-nav-toggle {
    color: #fff
}

.section-header h3 {
    font-size: 32px;
    color: #111;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    position: relative;
    padding-bottom: 15px
}

.section-header h2 {
    font-size: 32px;
    color: #111;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    position: relative;
    padding-bottom: 15px
}

.boarding .point {
    height: 170px;
    text-align: center;
    border-radius: 50%;
    border: 12px solid #ca402d;
    z-index: 22
}

.boarding .point,
.boarding .process-detail {
    background: #ccc;
    position: absolute;
    width: 170px
}

#contact .boarding .point h3 {
    font-size: 90px;
    margin-top: 0;
    padding-top: 0!important;
    font-weight: 600;
    color: #fff;
    position: absolute;
    bottom: 6px;
    left: 44px
}

.boarding .process-detail {
    color: #000;
    height: 215px;
    top: 27%;
    border-bottom: 12px solid #2d30ca
}

.boarding .point,
.boarding .process-detail {
    background: #4073fe;
    position: absolute;
    width: 170px
}

.boarding .process-detail .skill-head {
    padding: 114px 12px 0;
    font-size: 14px;
    text-align: center;
    color: #3f3030;
    font-weight: 600
}

.about_section_clients h3 {
    font-size: 28px!important
}

.about_header h3 {
    margin-top: 50px
}

.about_section {
    margin-top: 93px
}

#services .img_about {
    height: auto;
    width: 90%;
    margin-bottom: 50px;
    margin-left: 15%
}

#services .img_methodology {
    height: auto;
    width: 100%;
    margin-top: 50px
}

.section-header h3::before {
    content: '';
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px)
}

.section-header h3::after {
    content: '';
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #ca402d;
    bottom: 0;
    left: calc(50% - 20px)
}

.section-header p {
    text-align: center;
    padding: 10px 20px 0;
    color: #333
}

.section-bg {
    background: #f7f7f7;
    padding: 16px 0 100px
}

#featured-services {
    background: #000
}

#featured-services .box {
    padding: 30px 20px
}

#featured-services .box-bg {
    background-image: linear-gradient(0deg, #000000 0%, #242323 50%, #000000 100%)
}

#featured-services i {
    color: #2d52ca;
    font-size: 32px;
    display: inline-block;
    line-height: 1
}

#featured-services h4 {
    font-weight: 600;
    margin: 15px 0;
    font-size: 15px
}

#featured-services h4 a {
    color: #d9d9d9
}

#featured-services h4 a:hover {
    color: #2d4aca
}

#featured-services p {
    font-size: 14px;
    line-height: 24px;
    color: #c1c1c1;
    margin-bottom: 0
}

.carousel-indicators .active {
    background-color: transparent!important
}

#about {
    background: url(../img/about-bg.jpg) center top no-repeat fixed;
    background-size: cover;
    padding: 60px 0 40px;
    position: relative
}

#about:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(255, 255, 255, .92);
    z-index: 9
}

.fag_body:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: 0 0!important;
    z-index: 9
}

.fag_body {
    padding-bottom: 70px!important
}

#about .container {
    position: relative;
    z-index: 10
}

#about .about-col {
    min-height: 450px;
    background: #fff;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, .08);
    margin-bottom: 20px
}

#about .about-col .img {
    position: relative
}

#about .about-col .img img {
    border-radius: 4px 4px 0 0
}

#about .about-col .icon {
    width: 64px;
    height: 64px;
    padding-top: 8px;
    text-align: center;
    position: absolute;
    background-color: #2d30ca;
    border-radius: 50%;
    text-align: center;
    border: 4px solid #fff;
    left: calc( 50% - 32px);
    bottom: -30px;
    transition: .3s
}

#about .about-col i {
    font-size: 28px;
    line-height: 1;
    color: #fff;
    transition: .3s
}

#about .about-col:hover .icon {
    background-color: #fff
}

#about .about-col:hover i {
    color: #2421e7
}

#about .about-col h2 {
    color: #000;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    padding: 0;
    margin: 40px 0 12px
}

#about .about-col h2 a {
    color: #000
}

#about .about-col h2 a:hover {
    color: #2d30ca
}

#about .about-col p {
    font-size: 14px;
    line-height: 24px;
    color: #333;
    margin-bottom: 0;
    padding: 0 20px 20px;
    text-align: justify
}

.accordion-container {
    position: relative;
    margin: 10px auto
}

.accordion-container>h2 {
    text-align: center;
    color: #fff;
    padding-bottom: 5px;
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd
}

.set {
    position: relative;
    width: 100%;
    height: auto;
    background-color: #f5f5f599
}

.set>a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #5c5858;
    font-weight: 500;
    border-bottom: 1px solid #ddd;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear;
    cursor: pointer
}

.set>a i {
    float: right;
    margin-top: 2px;
    color: #000
}

.set>a.active {
    background-color: #f3f3f3;
    font-weight: 600;
    color: #000
}

.content {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    display: none
}

.content p {
    padding: 10px 15px 25px;
    margin: 0;
    color: #333
}

.container-fluid.no-gutter {
    padding: 0;
    margin-bottom: 80px
}

.container-fluid.no-gutter .row [class*=col-]:not(:first-child),
.container-fluid.no-gutter .row [class*=col-]:not(:last-child) {
    padding-right: 0;
    padding-left: 0
}

.row {
    margin-left: 0;
    margin-right: 0
}

.item {
    border: none
}

.isotope,
.isotope .item {
    -webkit-transition-duration: .8s;
    -moz-transition-duration: .8s;
    -ms-transition-duration: .8s;
    -o-transition-duration: .8s;
    transition-duration: .8s
}

.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -ms-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width
}

.isotope .item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -ms-transition-property: -ms-transform, opacity;
    -o-transition-property: top, left, opacity;
    transition-property: transform, opacity
}

.isotope-hidden {}

@media(max-width:768px) {}

.container-fluid {
    width: 90%;
    margin: auto
}

.button-group {
    margin: auto;
    width: 96%;
    margin-bottom: 50px
}

.iso_clients_btn {
    background: #2d3dca;
    border: 1px solid #2979e1;
    font-size: 12px;
    font-weight: 600
}

.iso_clients_btn:hover {
    background: #2d3dca;
    border: 1px solid #2979e1;
}

.iso_clients_btn:active {
    background: #2d3dca;
    border: 1px solid #2979e1;
}

.iso_clients_btn:focus {
    border: 1px solid #1f23ee!important
}

.item-wrap img {
    width: 135px
}

::-webkit-scrollbar {
    width: 4px
}

::-webkit-scrollbar-track {
    background: #f1f1f1
}

::-webkit-scrollbar-thumb {
    background: #757779
}

::-webkit-scrollbar-thumb:hover {
    background: #555
}

@media(max-width:768px) {
    .back-to-top {
        bottom: 15px
    }
}

@media screen and (min-width:320px) and (max-width:600px) {
    .mobile-dis-none .iso_clients_btn {
        display: none
    }
    #posts .item {
        width: 50%
    }
    #posts .item .item-wrap {
        padding: 10px 15px
    }
}

@media screen and (min-width:320px) and (max-width:1024px) {
    .slider-cols .sectionClass {
        display: none
    }
}

#services {
    background: #fff;
    background-size: cover;
    padding: 60px 0 40px
}

#services .box {
    margin-bottom: 60px
}

#services .icon {
    text-align: center
}

#services .icon img {
    height: 70px
}

#services .resouce-icon img {
    height: 200px;
    border: .5px solid #2664e9
}

#services .icon i {
    color: #0026ff;
    font-size: 36px;
    line-height: 1;
    transition: .5s
}

#services .title {
    font-weight: 500;
    margin-top: 20px;
    font-size: 17px;
    text-align: center
}

#services .title2 {
    font-weight: 500;
    margin-top: 20px;
    font-size: 17px;
    text-align: left
}

#services .title:hover {
    color: #2d3dca
}

#services .title2:hover {
    color: #452dca
}

#services .title a {
    color: #111
}

.btn-info:not(:disabled):not(.disabled).active,
.btn-info:not(:disabled):not(.disabled):active,
.show>.btn-info.dropdown-toggle {
    color: #fff;
    color: #2d3dca;
    color: #2d3dca
}

.btn-info:not(:disabled):not(.disabled).active:focus,
.btn-info:not(:disabled):not(.disabled):active:focus,
.show>.btn-info.dropdown-toggle:focus {
    box-shadow: none
}

#services .box:hover .title a {
    color: #4f2dca
}

#services .description {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    text-align: center
}

#services .description2 {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    text-align: justify
}

#services .box h6 {
    text-align: center;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 600
}

#crowdspark {
    background-size: cover;
    padding: 60px 0 40px
}

#crowdspark .box {
    margin-bottom: 60px
}

#crowdspark .icon {
    text-align: center
}

#crowdspark .icon img {
    height: 70px
}

#crowdspark .icon i {
    color: #2d3dca;
    font-size: 36px;
    line-height: 1;
    transition: .5s
}

#crowdspark .title {
    font-weight: 500;
    margin-top: 20px;
    font-size: 17px;
    text-align: center
}

#crowdspark .title2 {
    font-weight: 500;
    margin-top: 20px;
    font-size: 17px;
    text-align: left
}

#crowdspark .title:hover {
    color: #2d45ca
}

#crowdspark .title2:hover {
    color: #ca402d
}

#crowdspark .title a {
    color: #111
}

.btn-info:not(:disabled):not(.disabled).active,
.btn-info:not(:disabled):not(.disabled):active,
.show>.btn-info.dropdown-toggle {
    color: #fff;
    color: #2d3dca;
    color: #2d3dca
}

.btn-info:not(:disabled):not(.disabled).active:focus,
.btn-info:not(:disabled):not(.disabled):active:focus,
.show>.btn-info.dropdown-toggle:focus {
    box-shadow: none
}

#crowdspark .box:hover .title a {
    color: #2d3dca
}

#crowdspark .description {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    text-align: center
}

#crowdspark .description2 {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    text-align: justify
}

#crowdspark .box h6 {
    text-align: center;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 600
}

#call-to-action {
    background: linear-gradient(rgba(0, 142, 99, 0.1), rgba(0, 0, 0, 0.1)), url(../img/intro-carousel/slider1.jpg) fixed center center;
    background-size: cover;
    padding: 60px 0
}

#call-to-action h3 {
    color: #fff;
    font-size: 28px;
    font-weight: 700
}

#call-to-action p {
    color: #fff
}

#call-to-action .cta-btn {
    font-family: montserrat, sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 25px;
    transition: .5s;
    margin-top: 10px;
    border: 2px solid #fff;
    color: #fff
}

#call-to-action .cta-btn:hover {
    background: #1834d2;
    border: 2px solid #1c40e2
}

#skills {
    padding: 60px 0
}

#skills .progress {
    height: 35px;
    margin-bottom: 10px
}

#skills .progress .skill {
    font-family: open sans, sans-serif;
    line-height: 35px;
    padding: 0;
    margin: 0 0 0 20px;
    text-transform: uppercase
}

#skills .progress .skill .val {
    float: right;
    font-style: normal;
    margin: 0 20px 0 0
}

#skills .progress-bar {
    width: 1px;
    text-align: left;
    transition: .9s
}

#facts {
    background: url(../img/facts-bg.html) center top no-repeat fixed;
    background-size: cover;
    padding: 60px 0 0;
    position: relative
}

#facts::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(255, 255, 255, .88);
    z-index: 9
}

#facts .container {
    position: relative;
    z-index: 10
}

#facts .counters span {
    font-family: montserrat, sans-serif;
    font-weight: 700;
    font-size: 48px;
    display: block;
    color: #18d26e
}

#facts .counters p {
    padding: 0;
    margin: 0 0 20px;
    font-family: montserrat, sans-serif;
    font-size: 14px;
    color: #111
}

#facts .facts-img {
    text-align: center;
    padding-top: 30px
}

#portfolio {
    padding: 100px 0 1px
}

.about_section_clients {
    margin-top: 93px
}

.client_portfolio {
    margin: 10px 20px
}

.client_portfolio img {
    width: 120px
}

#portfolio #portfolio-flters {
    padding: 0;
    margin: 5px 0 35px;
    list-style: none;
    text-align: center
}

#portfolio #portfolio-flters li {
    cursor: pointer;
    margin: 15px 15px 15px 0;
    display: inline-block;
    padding: 10px 20px;
    font-size: 12px;
    line-height: 20px;
    color: #666;
    border-radius: 4px;
    text-transform: uppercase;
    background: #cac2c2;
    margin-bottom: 5px
}

#portfolio #portfolio-flters li:hover,
#portfolio #portfolio-flters li.filter-active {
    background: #2d45ca;
    color: #fff
}

#portfolio #portfolio-flters li:last-child {
    margin-right: 0
}

#portfolio #portfolio-flters2 {
    padding: 0;
    margin: 5px 0 35px;
    list-style: none;
    text-align: center
}

#portfolio #portfolio-flters2 li {
    cursor: pointer;
    margin: 15px 15px 15px 0;
    display: inline-block;
    padding: 10px 20px;
    font-size: 12px;
    line-height: 20px;
    color: #666;
    border-radius: 4px;
    text-transform: uppercase;
    background: #cac2c2;
    margin-bottom: 5px
}

#portfolio #portfolio-flters2 li:hover,
#portfolio #portfolio-flters2 li.filter-active {
    background: #2d30ca;
    color: #fff
}

#portfolio #portfolio-flters2 li:last-child {
    margin-right: 0
}

#portfolio .portfolio-wrap {
    box-shadow: 0 2px 12px rgba(0, 0, 0, .08);
    transition: .3s
}

.portfolio-container {
    margin: 40px 0 100px
}

#portfolio .portfolio-wrap:hover {
    box-shadow: 0 30px 14px rgba(0, 0, 0, .16)
}

#portfolio .portfolio-item {
    position: relative;
    overflow: hidden
}

#portfolio .portfolio-item figure {
    background: #000;
    overflow: hidden;
    position: relative;
    margin: 0
}

#portfolio .portfolio-item figure:hover img {
    opacity: .4
}

#portfolio .portfolio-item figure .link-preview,
#portfolio .portfolio-item figure .link-details {
    position: absolute;
    display: inline-block;
    opacity: 0;
    line-height: 1;
    text-align: center;
    width: 36px;
    height: 36px;
    background: #fff;
    border-radius: 50%
}

#portfolio .portfolio-item figure .link-preview i,
#portfolio .portfolio-item figure .link-details i {
    padding-top: 8px;
    font-size: 17px;
    color: #333
}

#portfolio .portfolio-item figure .link-preview:hover,
#portfolio .portfolio-item figure .link-details:hover {
    background: #2d3dca
}

#portfolio .portfolio-item figure .link-preview:hover i,
#portfolio .portfolio-item figure .link-details:hover i {
    color: #fff
}

#portfolio .portfolio-item figure .link-preview {}

#portfolio .portfolio-item figure .link-details {}

#portfolio .portfolio-item figure:hover .link-preview {
    opacity: 1
}

#portfolio .portfolio-item figure:hover .link-details {
    opacity: 1;
    right: calc(50% - 44px)
}

#portfolio .portfolio-item .portfolio-info {
    background: #fff;
    text-align: center;
    padding: 8px;
    height: 100px;
    border-radius: 0 0 3px 3px;
    border-bottom: 15px solid #f7f7f7
}

.img-fluid {}

.portfolio-item {
    top: -10px
}

#portfolio .portfolio-item .portfolio-info h4 {
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 4px;
    padding-bottom: 0
}

#portfolio .portfolio-item .portfolio-info h4 a {
    color: #333
}

#portfolio .portfolio-item .portfolio-info h4 a:hover {
    color: #2d5fca
}

#portfolio .portfolio-item .portfolio-info p {
    padding: 0;
    margin: 0;
    color: #252323;
    font-weight: 500;
    font-size: 11px;
    text-transform: capitalize
}

#clients {
    padding: 20px 0
}

#clients img {
    max-width: 100%;
    transition: .3s;
    padding: 15px 0;
    width: 100px
}

#clients img:hover {
    opacity: 1
}

#clients .owl-nav,
#clients .owl-dots {
    margin-top: 5px;
    text-align: center
}

#clients .owl-dot {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ddd
}

#clients .owl-dot.active {
    background-color: #182bd2
}

#testimonials {
    padding: 60px 0
}

#testimonials .section-header {
    margin-bottom: 40px
}

#testimonials .testimonial-item {
    text-align: center
}

#testimonials .testimonial-item .testimonial-img {
    width: 120px;
    border-radius: 50%;
    border: 4px solid #fff;
    margin: 0 auto
}

#testimonials .testimonial-item h3 {
    font-size: 20px;
    font-weight: 700;
    margin: 10px 0 5px;
    color: #111
}

#testimonials .testimonial-item h4 {
    font-size: 14px;
    color: #999;
    margin: 0 0 15px
}

#testimonials .testimonial-item .quote-sign-left {
    margin-top: -15px;
    padding-right: 10px;
    display: inline-block;
    width: 37px
}

#testimonials .testimonial-item .quote-sign-right {
    margin-bottom: -15px;
    padding-left: 10px;
    display: inline-block;
    max-width: 100%;
    width: 37px
}

#testimonials .testimonial-item p {
    font-style: italic;
    margin: 0 auto 15px
}

@media(min-width:992px) {
    #testimonials .testimonial-item p {
        width: 80%
    }
}

#testimonials .owl-nav,
#testimonials .owl-dots {
    margin-top: 5px;
    text-align: center
}

#testimonials .owl-dot {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ddd
}

#testimonials .owl-dot.active {
    background-color: #18d26e
}

#team {
    background: #fff;
    padding: 60px 0
}

#team .member {
    text-align: center;
    margin-bottom: 20px;
    background: #000;
    position: relative
}

#team .member .member-info {
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    transition: .2s
}

#team .member .member-info-content {
    margin-top: -50px;
    transition: margin .2s
}

#team .member:hover .member-info {
    background: rgba(0, 0, 0, .7);
    opacity: 1;
    transition: .4s
}

#team .member:hover .member-info-content {
    margin-top: 0;
    transition: margin .4s
}

#team .member h4 {
    font-weight: 700;
    margin-bottom: 2px;
    font-size: 18px;
    color: #fff
}

#team .member span {
    font-style: italic;
    display: block;
    font-size: 13px;
    color: #fff
}

#team .member .social {
    margin-top: 15px
}

#team .member .social a {
    transition: none;
    color: #fff
}

#team .member .social a:hover {
    color: #18d26e
}

#team .member .social i {
    font-size: 18px;
    margin: 0 2px
}

#contact {
    padding: 91px 0 100px
}

#contact .contact-info {
    margin-bottom: 20px;
    text-align: center
}

#contact .contact-info i {
    font-size: 48px;
    display: inline-block;
    margin-bottom: 10px;
    color: #372dca
}

#contact .contact-info address,
#contact .contact-info p {
    margin-bottom: 0;
    color: #000
}

#contact .contact-info h3 {
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: 700;
    text-transform: uppercase;
    color: #999
}

#contact .contact-info a {
    color: #000
}

#contact .contact-info a:hover {
    color: #2d4aca
}

#contact .contact-address,
#contact .contact-phone,
#contact .contact-email {
    margin-bottom: 20px
}

@media(min-width:768px) {
    #contact .contact-address,
    #contact .contact-phone,
    #contact .contact-email {
        padding: 20px 0
    }
}

@media(min-width:768px) {
    #contact .contact-phone {
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd
    }
}

#contact .form #sendmessage {
    color: #18d26e;
    border: 1px solid #18d26e;
    display: none;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    margin-bottom: 15px
}

#contact .form #errormessage {
    color: rgb(4, 0, 255);
    display: none;
    border: 1px solid rgb(0, 26, 255);
    text-align: center;
    padding: 15px;
    font-weight: 600;
    margin-bottom: 15px
}

#contact .form #sendmessage.show,
#contact .form #errormessage.show,
#contact .form .show {
    display: block
}

#contact .form .validation {
    color: rgb(47, 0, 255);
    display: none;
    margin: 0 0 20px;
    font-weight: 400;
    font-size: 13px
}

#contact .form input,
#contact .form textarea {
    padding: 10px 14px;
    border-radius: 0;
    box-shadow: none;
    font-size: 15px
}

#contact .form button[type=submit] {
    background: #18d26e;
    border: 0;
    padding: 10px 30px;
    color: #fff;
    transition: .4s;
    cursor: pointer
}

#contact .form button[type=submit]:hover {
    background: #13a456
}

#footer {
    background: #000;
    padding: 0 0 30px;
    color: #eee;
    font-size: 14px
}

#footer .footer-top {
    background: #111;
    padding: 60px 0 30px
}

#footer .footer-top .footer-info {
    margin-bottom: 30px
}

#footer .footer-top .footer-info h3 {
    font-size: 34px;
    margin: 0 0 20px;
    padding: 2px 0 2px 10px;
    line-height: 1;
    font-family: montserrat, sans-serif;
    font-weight: 700;
    letter-spacing: 3px;
    border-left: 4px solid #18d26e
}

#footer .footer-top .footer-info p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: montserrat, sans-serif;
    color: #eee;
    text-align: justify
}

#footer .footer-top .footer-info img {
    height: 70px;
    margin-left: -8px
}

#footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #333;
    color: #eee;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: .3s
}

#footer .footer-top .social-links a:hover {
    background: #ca402d;
    color: #fff
}

#footer .footer-top h4 {
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 12px
}

.background24 {
    background-image: url(../img/services/wfh-banner.jpg);
    margin-top: 50px;
    height: 80vh;
    background-size: 100%;
    background-repeat: no-repeat
}

.background25 {
    background-image: url(../img/intro-carousel/slider2.jpg);
    margin-top: 50px;
    height: 80vh;
    background-size: 100%;
    background-repeat: no-repeat
}

.page-inner-link a {
    color: #2d37ca
}